body {
  font-family: 'Open Sans', sans-serif;
  color: #4a4a4a;
}

h1 {
 font-family: 'Paytone One', sans-serif;
 font-size: 48px;
 letter-spacing: 3px;
 color: #FA5E47;
 text-transform: uppercase;
 margin-bottom: 30px;
}

h4 {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 12px;
  font-weight: 700;
  padding-left: 10px;
  padding-right: 10px;
}

.right h4 {
  padding-left: 0px;
  padding-right: 10px;
}

a {
  color: #FA5E47;
  font-weight: 700;
}

header {
  background-color: #E4E9EB;
  padding: 60px 0px;
}

section {
  padding-top: 30px;
}

input, textarea {
  font-family: 'Cutive Mono', monospace;
  font-size: 14px;
}

.examples {
  margin: 20px 0;
}

.examples i {
  margin: 20px;
}

.examples img {
  height: 100px;
  width: auto;
  border-radius: 2px;
}

.input-box {
  margin-bottom: 30px;
}

.input-box h4 {

}

.input-box input, .input-box textarea, .input-box button, .resizeBox {
  height: 60px;
  border-radius: 5px;
  border: 1px solid #979797;
  padding: 15px 20px;
  width: 100%;
}

.input-box button.go {
  background-color: rgba(228,233,235,0.7);
  border:none;
  border-bottom: 4px solid #E4E9EB;
}

.input-box button.go:hover {
  background-color: #E4E9EB;
}

.resizeBox {
  padding: 0 0 0px 8px;
  display: flex;
  align-items: center;
  font-family: 'Cutive Mono', monospace;
  font-size: 14px;
}

.checkbox input {
  height: auto;
}

.input-box textarea {
  height: 200px;
}

.input-box i.fa {
  font-size: 16px;
}

.empty {
  float: right;
  cursor: pointer;
  color: #4a4a4a;
}

.flag-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.color-cont {
  height: 100px;
  display: inline-block;
  border: none;
  margin: 10px 15px 30px;
  border-radius: 2px;
  box-shadow: 0px 2px 4px rgba(0,0,0,.2);
  overflow: hidden;
}

.color-cont > img {
  width: auto;
  height: 100%;
}

.color-cont .colour-flag {
  border-radius: 2px;
  overflow: hidden;;
  position: relative;
  top: -100%;
  opacity: 1;
  transition: opacity 0.3s ease;
  width: 101%
}

.color-cont .colour-flag:hover {
  opacity: 0;
}

.color-cont .colour-flag .color {
  height:100%;
  display: block;
  float:left;
}

.resizeBox {
  border: 0px solid #979797;
}

.red {
  color: #FA5E47;
}

.right {
  text-align: right;;
}

.pointer {
  cursor: pointer;
}

.progress {
  box-shadow: inset 0 2px 4px rgba(0,0,0,.1)

}

.progress-bar {
  background-color: #A0D0E3;
}
.progress-bar.progress-bar-danger {
  background-color: #FA5E47;
}

.progress-bar.done {
  background-color: #E4E9EB;
  font-weight: 700;
}

.progress-bar.done span {
  color: #4a4a4a;
}

#chart {
  display: none;
}

footer {
  background-color: #4a4a4a;
  color: white;
  padding: 30px 0;
  border-top: 1px solid #a4a4a4;
}
