<h1>Kmeanscolor</h1>
<p>{{appName}} is a tool able to run the <a href="https://en.wikipedia.org/wiki/K-means_clustering" target="_blank">k-means</a> algorithm on images.
  Just give an URL and the amount of cluster, then this wonderful web-based application will do the rest.</p>
<input #imgUrl>
<input #k>
<button (click)="callKmean(imgUrl.value, k.value)">Go!</button>
<div *ngIf="mydata">

  <img src="{{mydata.url}}"/>



<div class="color-cont">
  <!--<div  class="color" *ngFor="#color of mydata.clusters" *ngStyle="{'background-color':'rgb('+color.rgb[0]+','+color.rgb[1]+','+color.rgb[2]+')','width':color.perc+'%'}">-->
  <div  class="color" *ngFor="#color of mydata.clusters" [ngStyle]="{'background-color':'rgb('+color.rgb[0]+','+color.rgb[1]+','+color.rgb[2]+')','width':color.perc+'%'}">

  </div>
</div>

</div>
